<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professor</title>
</head>

<style>
body{
    background: ghostwhite;
    font-family: Arial;
}

h3{
    background: darkgreen;
    font-family: Arial;
    color: palegoldenrod;
    font-size: 25pt;
    text-align: center;
}
h2{
    background: ghostwhite;
    font-family: Arial;
    color: darkgreen;
    font-size: 15pt;
    text-align: left;

}

h4{
    background: palegoldenrod;
    font-family: Arial;
    color: palegoldenrod;
    font-size: 15pt;
    text-align: left;

}
</style>

<h3>Professor</h3>
</html>

<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>

