<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Professors</title>
</head>
<body>
    <h1>List of Professors</h1>
    <form action="" method="get">
        <label for="sort">Sort by:</label>
        <select name="sort" id="sort">
            <option value="name" {% if current_sort == 'name' %}selected{% endif %}>Name</option>
            <option value="dept" {% if current_sort == 'dept' %}selected{% endif %}>Department ID</option>
            <option value="salary" {% if current_sort == 'salary' %}selected{% endif %}>Salary</option>
        </select>
        <button type="submit">Sort</button>
    </form>
    <table>
        <tr>
            <th>Name</th>
            <th>Department ID</th>
            <th>Salary</th>
        </tr>
        {% for prof in professors %}
        {% if prof.name and prof.dept_name_id and prof.salary %}  <!-- Check if fields are not None -->
        <tr>
            <td>{{ prof.name }}</td>
            <td>{{ prof.dept_name_id }}</td>
            <td>{{ prof.salary }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</body>
</html>